@use "variabels";
/*-----------------------------------------------------------------För rutan med väder info-----------------------------------------------------------------------------------------*/

@keyframes weatherInfoAppear {
    from {
        transform: scale(0,0);
        
    }

    to {
        transform: scale(1,1);
        
    }
};


.weatherDivClass {
    animation: weatherInfoAppear 2s;
}





/*-----------------------------------------------------------------För golfbollen-----------------------------------------------------------------------------------------*/


@keyframes golfBallSpinn { //Rotate funkar inte bara vid uppladdning funckar vid lokal med npm start?
    from {
        transform:translateX(0%) 
        rotate(0deg);
    }

    to {
        
        transform:translateX(800%) 
        rotate(360deg);
        
    }
}
 
.logoAnimationClass {
    img {
        animation: golfBallSpinn 4s linear infinite alternate;
    }

}



/*--------------------------------------------------------------För bakgrunder--------------------------------------------------------------------------------------------*/

@keyframes backgroundChanges {
    from {
        opacity: 0;
    }
    to {
        
        opacity: 1; 
    }
};



#allImages {
    div{
        animation: backgroundChanges 3s linear;
    }
};

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/