

/*Mörkt tema*/
$dark-color: #000000 ;
$textdark-color: lighten($dark-color, 90%);
$borderdark-color: lighten($dark-color, 100%);


/*Ljust tema*/
$light-color: #ffffff;
$text-color: darken($light-color, 100%);
$border-color: darken($light-color, 100%);

/*Font*/
$font-family: Georgia, 'Times New Roman', Times, serif;