
@use "partials/animation";
@use "partials/pictures";
@use "partials/mixins";
@use "partials/variables";


body {
    background-color: rgb(205, 228, 255);
    font-family: variables.$font-family;
    overflow-x:hidden;
    width: 100vw;

    footer {
        position: fixed;
        bottom: 0;
        right: 20;
      }
}


#weatherAndSearch {
    margin-top: 5vh;
    display: block;
    position: relative;
    left: 38vw;
      

        input {
            @include mixins.searchInput;  
        }

        button {
            @include mixins.searchButton;
        }

        button:hover {
            background-color: lightgreen;
        }
    
}

#logo {
    position: relative;
    margin-top: 18vh;
    display: block;
    text-align: center;
    img {
        width: 45vw;
    }
}




